<a href="https://colab.research.google.com/github/celineMaina/Python-practice-LUX-Academy/blob/main/Python_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops(for/while)

In [ ]:
# Use a for loop to print numbers from 1 to 10.
for num in range(1, 11):
  print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Use a while loop to print numbers from 5 down to 1.
num = 5
while num >=1:
  print(num)
  num -= 1

5
4
3
2
1

In [ ]:
# Loop through a list of names and print each one.
names = ["Peter", "Sandra", "Meg", "Chris"]

for name in names:
  print(name)

Peter
Sandra
Meg
Chris

In [ ]:
# Loop through a dictionary and print each key and value.
user = {"name":"Bob", "age":31}

for x, y in user.items():
  print(x, ':', y)

name : Bob
age : 31

In [ ]:
# Create a list of 5 numbers and use a for loop to compute the sum.
numbers = [10, 20, 30, 40, 50]
total = 0

for num in numbers:
  total += num
print(f'Sum of numbers is {total}')

Sum of [10, 20, 30, 40, 50] is 150

# Conditional Statements

In [ ]:
# Ask the user for their age and print "Adult" if age ≥ 18.
age = int(input("Enter your age: "))

if age >= 18:
  print("Adult")

Enter your age: 6

In [ ]:
# Write a program that checks if a number is even or odd.
number = int(input("Enter a number: "))

if number%2 == 0:
  print("Even")
else:
  print("Odd")

Enter a number: 24
Even

In [ ]:
# If temp > 30, print "Hot", else print "Cool".
temp = int(input("Enter the temparature: "))

if temp > 30:
  print("Hot")
else:
  print("Cool")

Enter the temparature: 12
Cool

In [ ]:
# Write an if/elif/else to check grade range:
# ≥ 80 → "A"
# ≥ 60 → "B"
# else → "C"
grade = int(input("Enter student grade: "))

if grade >= 80:
  print("A")
elif 60 <= grade < 80:
  print("B")
else:
  print("C")

Enter student grade: 65
B

In [ ]:
# Ask the user for a password and check if it matches "12345".
password =str(input("enter your password: "))

if password == "12345":
  print("Logged in successfully!")
else:
  print("Sorry, wrong password.")

enter your password: 12345
Logged in successfully!