<a href="https://colab.research.google.com/github/celineMaina/Python-practice-LUX-Academy/blob/main/PythonPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Variables and Data Types
# Create a variable name and assign it your name as a string.
name = 'Meghan'
print(name)

Meghan

In [ ]:
# Create two variables a and b. Assign a = 10 and b = 3.14. Print both and their types.
a = 10
b = 3.14
print(type(a), a)
print(type(b), b)

<class 'int'> 10
<class 'float'> 3.14

In [ ]:
# Define a boolean variable is_student = True. Print a sentence like “Am I a student? True”.
is_student = True
print('Am I a student? ', is_student)

Am I a student?  True

In [ ]:
# Create a variable x = None. Print it and check its type.
x = None
print(type(x), x)

<class 'NoneType'> None

In [ ]:
# Swap the values of two variables m = 5 and n = 8 without using a third variable.
m = 5
n = 8
m,n = n,m
print(m)
print(n)

8
5

In [ ]:
user_password = input('Enter your password:')
print(user_password)

if user_password == "pass":
  print('Logged in successfully.')
else:
  print('Incorrect password.')

Enter your password:pass
pass
Logged in successfully.

In [ ]:
#Conditional Statements
# Ask the user (via input) to enter a number. If it's positive, print “Positive”, else print “Non-Positive”.
num = int(input('Enter any number: '))

if num > 0:
  print('Positive')
else:
  print('Negative')

Enter any number: 13
Positive

In [ ]:
# Write a program that checks if a number is even or odd.
num = int(input('Enter any number: '))

if num%2 == 0:
  print(num, 'is even.')
else:
  print(num, 'is odd.')

Enter any number: 7
7 is odd.

In [ ]:
# Ask the user for their age. If age ≥ 18, print “You are an adult”, else print “You are a minor”.
age = int(input('Enter your age: '))

if age >= 18:
  print('You are an adult.')
else:
  print('You are a minor.')

Enter your age: 21
You are an adult.

In [ ]:
# Given three variables x, y, z, check which one is the greatest and print it.
x = 10
y = 20
z = 40

if x>y and x>z:
  print('x is the greatest.')
elif  y>x and y>z:
  print('y is the greatest.')
else:
  print('z is the greatest')

z is the greatest

In [ ]:
# Ask the user to input a temperature in Celsius. If the temperature is > 30, print “Hot”, if it’s between 15 and 30 (inclusive), print “Warm”, else print “Cold”.
temp = float(input('Enter the temparature: '))

if temp > 30:
  print('Hot')
elif 30 < temp > 15:
  print('Warm')
else:
  print('Cold')

Enter the temparature: 13.5
Cold

In [ ]:
# Lists
# Create a list fruits = ["apple", "banana", "cherry"]. Print the first and last fruit
fruits = ['Apple', 'Banana', 'Cherry']
print(fruits[0])
print(fruits[-1])

Apple
Cherry

In [ ]:
# Add a new fruit “orange” to the list.
fruits.append('Orange')
print(fruits)

['Apple', 'Banana', 'Cherry', 'Orange']

In [ ]:
# Remove “banana” from the list.
fruits.remove('Banana')
print(fruits)

['Apple', 'Cherry', 'Orange']

In [ ]:
# Given a list of numbers [1, 2, 3, 4, 5], calculate and print their sum.
numbers = [1, 2, 3, 4, 5]
total = sum(numbers)
print(total)

15

In [ ]:
# Given a list of strings ["hello", "world"], join them into a single string with a space: “hello world”.
string = ['hello', 'world']
combo = ' '.join(string)
print(combo)

hello world

In [ ]:
# Reverse a list (without using the built-in reverse method).
numbers = [1, 2, 3, 4, 5]
reversed_numbers = numbers[::-1]
print(reversed_numbers)

[5, 4, 3, 2, 1]

In [ ]:
# Given a list [1, 2, 3, 2, 1], count how many times 2 appears.
numbers1 = [1, 2, 3, 2, 1]
print(numbers1.count(2))

2

In [ ]:
# Write a program that takes a list of numbers from the user (comma separated), converts them into a list of integers, and prints only the even numbers.
numbers2 = [1, 2, 3, 4, 5, 6, 7, 8,9, 10]

In [ ]:
#Tuples
# Create a tuple t = (10, 20, 30, 40). Print its first element.
t = (10, 20, 30, 40)
print(t[0])

10

In [ ]:
# Try to change one element of the tuple (e.g., t[0] = 5) and observe what error you get.
t = (10, 20, 30, 40)
t[0] = 5
print(t[0])

# Items in a tuple cannot be changed once created.

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Unpack the tuple t = (1, 2, 3) into three variables a, b, c.
t = (1, 2, 3)
a, b, c = t
print(a)
print(b)
print(c)

1
2
3

In [ ]:
# Given a tuple of mixed types ("Alice", 25, True), print each element and its type.
user = ("Alice", 25, True)
print(user[0], type([0]))
print(user[1], type([1]))
print(user[2], type([2]))

Alice <class 'list'>
25 <class 'list'>
True <class 'list'>

In [ ]:
# Dictionaries
# Create a dictionary student = {"name": "Alice", "age": 21, "major": "Math"}. Print the student’s name.
student = {"name": "Alice", "age": 21, "major": "Math"}
print(student["name"])

Alice

In [ ]:
# Add a new key-value pair: "GPA": 3.8.
student["GPA"] = 3.8
print(student)

{'name': 'Alice', 'age': 21, 'major': 'Math', 'GPA': 3.8}

In [ ]:
# Change the "age" value to 22.
student["age"] = 22
print(student)

{'name': 'Alice', 'age': 22, 'major': 'Math', 'GPA': 3.8}

In [ ]:
# Remove the "major" key from the dictionary.
student.pop("major")
print(student)

{'name': 'Alice', 'age': 22, 'GPA': 3.8}

In [ ]:
# Iterate over the dict and print keys and values in the form: key -> value.
for x, y in student.items():
  print(x,'->', y)

name -> Alice
age -> 22
GPA -> 3.8

In [ ]:
# Write a program that counts how many times each word appears in a list of words: ["apple", "banana", "apple", "cherry", "banana", "banana"].
fruits = ["apple", "banana", "apple", "cherry", "banana", "banana"]
# Create a dictionary
fruits_count = {}

for fruit in fruits:
  if fruit in fruits_count:
    fruits_count[fruit] += 1
  else:
    fruits_count[fruit] = 1

print(fruits_count)

{'apple': 2, 'banana': 3, 'cherry': 1}

In [ ]:
# Sets
# Create a set s = {1, 2, 3, 4}. Try adding 2 again and print the set.
s = {1, 2, 3, 4}
ss = {1, 2, 3, 2, 4}
print(s)
print(ss)

#Sets do not allow duplicate values

{1, 2, 3, 4}
{1, 2, 3, 4}

In [ ]:
# Given a list with duplicates [1, 2, 2, 3, 3, 3], convert it to a set to remove duplicates.
numbers_list = [1, 2, 2, 3, 3, 3]
numbers_set = set(numbers_list)

print(numbers_list)
print(numbers_set)

[1, 2, 2, 3, 3, 3]
{1, 2, 3}

In [ ]:
# Create another set t = {3, 4, 5}. Print the union, intersection, and difference (s - t).
s = {1, 2, 3, 4}
t = {3, 4, 5}

union = s.union(t)
print(union)

intersect = s.intersection(t)
print(intersect)

diff = s.difference(t)
print(diff)

{1, 2, 3, 4, 5}
{3, 4}
{1, 2}

In [ ]:
# Given a set letters = {"a", "b", "c"}, check if "d" is in the set, and print a message accordingly.
letters = {"a", "b", "c"}

if "d" in letters:
  print('d is in the set')
else:
  print('d is not in the set')

d is not in the set

In [ ]:
# Mixed Data Structures + Conditionals
# Given a dictionary inventory = {"apples": 5, "bananas": 2, "oranges": 0}, write code to print “We are out of oranges” if the count is 0, and otherwise print how many there are.
inventory = {"apples": 5, "bananas": 2, "oranges": 7}

if inventory["oranges"] == 0:
  print('We are out of oranges')
else:
  print('There are',inventory["oranges"], 'oranges available')

There are 7 oranges available

In [5]:
# Create a list of dictionaries, e.g., people = [{"name":"Alice","age":30}, {"name":"Bob","age":17}]. Loop through it and print for each person whether they are adult or minor.
people = [{"name":"Alice","age":30}, {"name":"Bob","age":17}]

for person in people:
  if person["age"] >= 18:
    print(person["name"], 'is an Adult')
  else:
    print(person["name"], 'is a Minor')

Alice is an Adult
Bob is a Minor

In [9]:
# Given a tuple of numbers nums = (5, 10, 15, 20), write a loop that checks: if the number is divisible by 10, print “Divisible by 10”, else “Not divisible by 10”.
nums = (5, 10, 15, 20)

for num in nums:
  if num % 10 == 0:
    print(num, 'is Divisible by 10')
  else:
    print(num, 'is Not divisible by 10')

5 is Not divisible by 10
10 is Divisible by 10
15 is Not divisible by 10
20 is Divisible by 10

In [4]:
# Ask user to input three numbers and store them in a list. Then, convert the list to a set and check if any duplicates were removed; tell the user if there were duplicates.
numbers = []

#Loop 3 times to enter 3 numbers
for x in range(3):
  num = int(input("Enter a number: "))
  numbers.append(num)

numbers_set = set(numbers)

if len(numbers_set) < len(numbers):
  print('Duplicates were removed.')
else:
  print('There were no duplicates')

print('Original list: ', numbers)
print('New set: ', numbers_set)

Enter a number: 1
Enter a number: 2
Enter a number: 1
Duplicates were removed.
Original list:  [1, 2, 1]
New set:  {1, 2}

In [7]:
# Create a dictionary grades = {"Alice": 85, "Bob": 72, "Charlie": 90}. Loop through it and print: “Alice passed” or “Alice failed” assuming passing is ≥ 80.
grades = {"Alice": 85, "Bob": 72, "Charlie": 90}

for name, marks in grades.items():
  print(name, ':', marks)

if grades["Alice"] >= 80:
  print('Alice passed!')
else:
  print('Alice failed.')

Alice : 85
Bob : 72
Charlie : 90
Alice passed!

In [8]:
# Given two lists a = [1,2,3,4] and b = [3,4,5,6], use sets to find and print the common elements.
a = [1,2,3,4]
b = [3,4,5,6]

intersect = set(a) & set(b)
print(intersect)

{3, 4}

In [16]:
# Given a list of numbers, ask the user to input the numbers, then compute: number of positive, negative, and zero values using conditionals.
numbers = []

for n in range(5):
    num = int(input(f"Enter number {n+1}: "))
    numbers.append(num)

print(numbers)

for x in numbers:
    if x > 0:
      print(x, 'is Positive')
    elif x == 0:
      print(x, 'is Zero')
    else:
      print(x, 'is Negative')

positive = 0
negative = 0
zero = 0

for y in numbers:
    if y > 0:
      positive += 1
    elif y == 0:
      zero += 1
    else:
      negative += 1

print('There are', positive, 'positive numbers in this list')
print('There are', negative, 'negative numbers in this list')
print('There are', zero, 'zeroes in this list')

Enter number 1: 12
Enter number 2: 0
Enter number 3: 1
Enter number 4: 98
Enter number 5: 23
[12, 0, 1, 98, 23]
12 is Positive
0 is Zero
1 is Positive
98 is Positive
23 is Positive
There are 4 positive numbers in this list
There are 0 negative numbers in this list
There are 1 zeroes in this list

In [25]:
# Write a small program that asks the user to input their name, age, and a list of 3 favorite fruits (comma-separated).
# Store their data in a dictionary like {"name": ..., "age": ..., "fruits": [...]} and then print a summary: “Name: …, Age: …, Fruits: …”.
name = input('What is your name?: ')
age = input('How old are you?: ')
fruits = input('Enter your 3 favorite fruits, separated by commas: ')

user_info = {}
user_info["Name"] = name
user_info["Age"] = age
user_info["Fruits"] = [f.strip() for f in fruits.split(",")]

print(f"Name: {user_info['Name']}, Age: {user_info['Age']}, Fruits: {user_info['Fruits']}")

What is your name?: Meghan Maina
How old are you?: 26
Enter your 3 favorite fruits, separated by commas: pears, apples, berries
Name: Meghan Maina, Age: 26, Fruits: ['pears', 'apples', 'berries']