<a href="https://colab.research.google.com/github/celineMaina/Python-practice-LUX-Academy/blob/main/Python_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops(for/while)

In [ ]:
# Use a for loop to print numbers from 1 to 10.
for num in range(1, 11):
  print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Use a while loop to print numbers from 5 down to 1.
num = 5
while num >=1:
  print(num)
  num -= 1

5
4
3
2
1

In [ ]:
# Loop through a list of names and print each one.
names = ["Peter", "Sandra", "Meg", "Chris"]

for name in names:
  print(name)

Peter
Sandra
Meg
Chris

In [ ]:
# Loop through a dictionary and print each key and value.
user = {"name":"Bob", "age":31}

for x, y in user.items():
  print(x, ':', y)

name : Bob
age : 31

In [ ]:
# Create a list of 5 numbers and use a for loop to compute the sum.
numbers = [10, 20, 30, 40, 50]
total = 0

for num in numbers:
  total += num
print(f'Sum of numbers is {total}')

Sum of [10, 20, 30, 40, 50] is 150

# Conditional Statements

In [ ]:
# Ask the user for their age and print "Adult" if age ≥ 18.
age = int(input("Enter your age: "))

if age >= 18:
  print("Adult")

Enter your age: 6

In [ ]:
# Write a program that checks if a number is even or odd.
number = int(input("Enter a number: "))

if number%2 == 0:
  print("Even")
else:
  print("Odd")

Enter a number: 24
Even

In [ ]:
# If temp > 30, print "Hot", else print "Cool".
temp = int(input("Enter the temparature: "))

if temp > 30:
  print("Hot")
else:
  print("Cool")

Enter the temparature: 12
Cool

In [ ]:
# Write an if/elif/else to check grade range:
# ≥ 80 → "A"
# ≥ 60 → "B"
# else → "C"
grade = int(input("Enter student grade: "))

if grade >= 80:
  print("A")
elif 60 <= grade < 80:
  print("B")
else:
  print("C")

Enter student grade: 65
B

In [ ]:
# Ask the user for a password and check if it matches "12345".
password =str(input("enter your password: "))

if password == "12345":
  print("Logged in successfully!")
else:
  print("Sorry, wrong password.")

enter your password: 12345
Logged in successfully!

## Sets

In [2]:
# Create a set of 5 numbers.
numbers = {10, 20, 30, 40, 50}
print(numbers)

{50, 20, 40, 10, 30}

In [3]:
# Add an element to the set.
numbers.add(True)
print(numbers)

{True, 50, 20, 40, 10, 30}

In [4]:
# Remove an element from the set.
numbers.remove(20)
print(numbers)

{True, 50, 40, 10, 30}

In [7]:
# Show the difference between two sets A and B.
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

diff = a.difference(b)
# diff = a - b #works the same way
print(diff)

{1, 2, 3}

In [10]:
# Show that sets do not allow duplicates by printing a set with repeated items.
rep = {1, "1", 2, True, 3, 5, 0, "false", False, "yes", 5}
print(rep)

{0, 1, 2, 3, 5, '1', 'yes', 'false'}

## Dictionaries

In [22]:
# Create a dictionary called student with keys: name, age, grade.
student = {"name": 'Linda', "age": 23, "grade": 'A'}
print(student)

{'name': 'Linda', 'age': 23, 'grade': 'A'}

In [23]:
# Access the value of the "name" key in the dictionary.
print(student["name"])

Linda

In [24]:
# Change the "age" value to a new number.
student.update({"age": 21})
print(student)

{'name': 'Linda', 'age': 21, 'grade': 'A'}

In [26]:
# Add a new key "gender" to the dictionary.
student["gender"] = 'Female'
print(student)

{'name': 'Linda', 'age': 21, 'grade': 'A', 'gender': 'Female'}

In [28]:
# Remove the "grade" key from the dictionary.
student.pop("grade")
print(student)

{'name': 'Linda', 'age': 21, 'gender': 'Female'}

In [30]:
# Loop through the dictionary keys and print each one.
for x in student:
  print(x)

name
age
gender

In [31]:
# Loop through the dictionary values and print each one.
for y in student.values():
  print(y)

Linda
21
Female

In [32]:
# Print all key-value pairs using .items().
for z in student.items():
  print(z)

('name', 'Linda')
('age', 21)
('gender', 'Female')

In [33]:
# Use in to check if "age" exists in the dictionary.
if "age" in student:
  print('"age" is a key in the dictionary')

"age" is a key in the dictionary

In [37]:
# Create a nested dictionary representing two students
nested_students = {
    "student1": {"name": 'Kai', "age": 20, "gender": 'Male'},
    "student2": {"name": 'Sally', "age": 19, "gender": 'Female'}
}

print(nested_students)

{'student1': {'name': 'Kai', 'age': 20, 'gender': 'Male'}, 'student2': {'name': 'Sally', 'age': 19, 'gender': 'Female'}}

## Tuples

In [39]:
# Create a tuple with 5 items.
user_info = ('Benji', 'benji@gmail.com', 31, 12345)
print(user_info)

('Benji', 'benji@gmail.com', 31, 12345)

In [41]:
# Print the last item in the tuple cars = ("Audi","BMW","Toyota").
cars = ("Audi","BMW","Toyota")
print(cars[-1])

Toyota

In [42]:
# Convert a tuple to a list.
new_list = list(cars)
print(new_list)

['Audi', 'BMW', 'Toyota']

In [43]:
# Given t = (1,2,3,4), print the length of the tuple.
t = (1,2,3,4)
print(len(t))

4

In [ ]:
# Explain in one sentence why tuples are immutable.
#In a tuple, items are stored and accessed in a specific order and are unchangeable. Tuples are also used to store vital information that should not change eg API keys and passwords.

## Lists

In [44]:
# Create a list called fruits with 4 fruit names and print it.
fruits = ['apple', 'cherry', 'banana', 'pear']
print(fruits)

['apple', 'cherry', 'banana', 'pear']

In [46]:
# Add "mango" to the fruits list.
fruits.append('mango')
print(fruits)

['apple', 'cherry', 'banana', 'pear', 'mango']

In [47]:
# Remove the second item from the fruits list.
fruits.pop(1)
print(fruits)

['apple', 'banana', 'pear', 'mango']

In [51]:
# Print the first and last items of a list named numbers.
numbers = [1, 2, 3, 4, 5, 6, 7]
print(numbers[0])
print(numbers[-1])

1
7

In [52]:
# Change the third item in a list colors to "purple".
colors = ['red', 'silver', 'blue', 'green']
colors[2] = 'purple'
print(colors)

['red', 'silver', 'purple', 'green']

In [53]:
# Given scores = [10,20,30,40], print the length of the list.
scores = [10,20,30,40]
print(len(scores))

4

In [54]:
# Access the item at index 2 from animals = ["cat","dog","cow","goat"].
animals = ["cat","dog","cow","goat"]
print([2])

[2]

In [55]:
# Write a program that checks if "apple" is in the list fruits.
fruits = ['apple', 'cherry', 'banana']

if 'apple' in fruits:
  print('apple is on the list')

apple is on the list

In [56]:
# Sort a list of numbers in ascending order.
numbers = [ 1,3,4,5,2,9,8,6,5,9,2,3,5,8]
numbers.sort()
print(numbers)

[1, 2, 2, 3, 3, 4, 5, 5, 5, 6, 8, 8, 9, 9]

In [58]:
# Combine two lists: a = [1,2] and b = [3,4]. Print the result.
a = [1,2]
b = [3,4]
print(a+b)

a.extend(b)
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4]