<a href="https://colab.research.google.com/github/celineMaina/Python-practice-LUX-Academy/blob/main/Python_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops(for/while)

In [ ]:
# Use a for loop to print numbers from 1 to 10.
for num in range(1, 11):
  print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Use a while loop to print numbers from 5 down to 1.
num = 5
while num >=1:
  print(num)
  num -= 1

5
4
3
2
1

In [ ]:
# Loop through a list of names and print each one.
names = ["Peter", "Sandra", "Meg", "Chris"]

for name in names:
  print(name)

Peter
Sandra
Meg
Chris

In [ ]:
# Loop through a dictionary and print each key and value.
user = {"name":"Bob", "age":31}

for x, y in user.items():
  print(x, ':', y)

name : Bob
age : 31

In [ ]:
# Create a list of 5 numbers and use a for loop to compute the sum.
numbers = [10, 20, 30, 40, 50]
total = 0

for num in numbers:
  total += num
print(f'Sum of numbers is {total}')

Sum of [10, 20, 30, 40, 50] is 150

# Conditional Statements

In [ ]:
# Ask the user for their age and print "Adult" if age ≥ 18.
age = int(input("Enter your age: "))

if age >= 18:
  print("Adult")

Enter your age: 6

In [ ]:
# Write a program that checks if a number is even or odd.
number = int(input("Enter a number: "))

if number%2 == 0:
  print("Even")
else:
  print("Odd")

Enter a number: 24
Even

In [ ]:
# If temp > 30, print "Hot", else print "Cool".
temp = int(input("Enter the temparature: "))

if temp > 30:
  print("Hot")
else:
  print("Cool")

Enter the temparature: 12
Cool

In [ ]:
# Write an if/elif/else to check grade range:
# ≥ 80 → "A"
# ≥ 60 → "B"
# else → "C"
grade = int(input("Enter student grade: "))

if grade >= 80:
  print("A")
elif 60 <= grade < 80:
  print("B")
else:
  print("C")

Enter student grade: 65
B

In [ ]:
# Ask the user for a password and check if it matches "12345".
password =str(input("enter your password: "))

if password == "12345":
  print("Logged in successfully!")
else:
  print("Sorry, wrong password.")

enter your password: 12345
Logged in successfully!

## Sets

In [ ]:
# Create a set of 5 numbers.

In [ ]:
# Add an element to the set.

In [ ]:
# Remove an element from the set.

In [ ]:
# Show the difference between two sets A and B.

In [ ]:
# Show that sets do not allow duplicates by printing a set with repeated items.

## Dictionaries

In [ ]:
# Create a dictionary called student with keys: name, age, grade.

In [ ]:
# Access the value of the "name" key in the dictionary.

In [ ]:
# Change the "age" value to a new number.

In [ ]:
# Add a new key "gender" to the dictionary.

In [ ]:
# Remove the "grade" key from the dictionary.

In [ ]:
# Loop through the dictionary keys and print each one.

In [ ]:
# Loop through the dictionary values and print each one.

In [ ]:
# Print all key-value pairs using .items().

In [ ]:
# Use in to check if "age" exists in the dictionary.

In [ ]:
# Create a nested dictionary representing two students

## Tuples

In [ ]:
# Create a tuple with 5 items.

In [ ]:
# Print the last item in the tuple cars = ("Audi","BMW","Toyota").

In [ ]:
# Convert a tuple to a list.

In [ ]:
# Given t = (1,2,3,4), print the length of the tuple.

In [ ]:
# Explain in one sentence why tuples are immutable.

## Lists

In [ ]:
# Create a list called fruits with 4 fruit names and print it.

In [ ]:
# Add "mango" to the fruits list.

In [ ]:
# Remove the second item from the fruits list.

In [ ]:
# Print the first and last items of a list named numbers.

In [ ]:
# Change the third item in a list colors to "purple".

In [ ]:
# Given scores = [10,20,30,40], print the length of the list.

In [ ]:
# Access the item at index 2 from animals = ["cat","dog","cow","goat"].

In [ ]:
# Write a program that checks if "apple" is in the list fruits.

In [ ]:
# Sort a list of numbers in ascending order.

In [ ]:
# Combine two lists: a = [1,2] and b = [3,4]. Print the result.