In [ ]:
#Variables and Data Types
# Create a variable name and assign it your name as a string.
name = 'Meghan'
print(name)

Meghan

In [ ]:
# Create two variables a and b. Assign a = 10 and b = 3.14. Print both and their types.
a = 10
b = 3.14
print(type(a), a)
print(type(b), b)

<class 'int'> 10
<class 'float'> 3.14

In [ ]:
# Define a boolean variable is_student = True. Print a sentence like “Am I a student? True”.
is_student = True
print('Am I a student? ', is_student)

Am I a student?  True

In [ ]:
# Create a variable x = None. Print it and check its type.
x = None
print(type(x), x)

<class 'NoneType'> None

In [ ]:
# Swap the values of two variables m = 5 and n = 8 without using a third variable.
m = 5
n = 8
m,n = n,m
print(m)
print(n)

8
5

In [ ]:
user_password = input('Enter your password:')
print(user_password)

if user_password == "pass":
  print('Logged in successfully.')
else:
  print('Incorrect password.')

Enter your password:pass
pass
Logged in successfully.

In [4]:
#Conditional Statements
# Ask the user (via input) to enter a number. If it's positive, print “Positive”, else print “Non-Positive”.
num = int(input('Enter any number: '))

if num > 0:
  print('Positive')
else:
  print('Negative')

Enter any number: 13
Positive

In [6]:
# Write a program that checks if a number is even or odd.
num = int(input('Enter any number: '))

if num%2 == 0:
  print(num, 'is even.')
else:
  print(num, 'is odd.')

Enter any number: 7
7 is odd.

In [7]:
# Ask the user for their age. If age ≥ 18, print “You are an adult”, else print “You are a minor”.
age = int(input('Enter your age: '))

if age >= 18:
  print('You are an adult.')
else:
  print('You are a minor.')

Enter your age: 21
You are an adult.

In [11]:
# Given three variables x, y, z, check which one is the greatest and print it.
x = 10
y = 20
z = 40

if x>y and x>z:
  print('x is the greatest.')
elif  y>x and y>z:
  print('y is the greatest.')
else:
  print('z is the greatest')

z is the greatest

In [12]:
# Ask the user to input a temperature in Celsius. If the temperature is > 30, print “Hot”, if it’s between 15 and 30 (inclusive), print “Warm”, else print “Cold”.
temp = float(input('Enter the temparature: '))

if temp > 30:
  print('Hot')
elif 30 < temp > 15:
  print('Warm')
else:
  print('Cold')

Enter the temparature: 13.5
Cold

In [15]:
# Lists
# Create a list fruits = ["apple", "banana", "cherry"]. Print the first and last fruit
fruits = ['Apple', 'Banana', 'Cherry']
print(fruits[0])
print(fruits[-1])

Apple
Cherry

In [16]:
# Add a new fruit “orange” to the list.
fruits.append('Orange')
print(fruits)

['Apple', 'Banana', 'Cherry', 'Orange']

In [17]:
# Remove “banana” from the list.
fruits.remove('Banana')
print(fruits)

['Apple', 'Cherry', 'Orange']

In [18]:
# Given a list of numbers [1, 2, 3, 4, 5], calculate and print their sum.
numbers = [1, 2, 3, 4, 5]
total = sum(numbers)
print(total)

15

In [20]:
# Given a list of strings ["hello", "world"], join them into a single string with a space: “hello world”.
string = ['hello', 'world']
combo = ' '.join(string)
print(combo)

hello world

In [ ]:
# Reverse a list (without using the built-in reverse method).

In [ ]:
# Given a list [1, 2, 3, 2, 1], count how many times 2 appears.

In [ ]:
# Write a program that takes a list of numbers from the user (comma separated), converts them into a list of integers, and prints only the even numbers.

In [ ]:
#Tuples
# Create a tuple t = (10, 20, 30, 40). Print its first element.

In [ ]:
# Try to change one element of the tuple (e.g., t[0] = 5) and observe what error you get.

In [ ]:
# Unpack the tuple t = (1, 2, 3) into three variables a, b, c.

In [ ]:
# Given a tuple of mixed types ("Alice", 25, True), print each element and its type.

In [ ]:
# Dictionaries
# Create a dictionary student = {"name": "Alice", "age": 21, "major": "Math"}. Print the student’s name.

In [ ]:
# Add a new key-value pair: "GPA": 3.8.

In [ ]:
# Change the "age" value to 22.

In [ ]:
# Remove the "major" key from the dictionary.

In [ ]:
# Iterate over the dict and print keys and values in the form: key -> value.

In [ ]:
# Write a program that counts how many times each word appears in a list of words: ["apple", "banana", "apple", "cherry", "banana", "banana"].

In [1]:
# Sets
# Create a set s = {1, 2, 3, 4}. Try adding 2 again and print the set.

In [ ]:
# Given a list with duplicates [1, 2, 2, 3, 3, 3], convert it to a set to remove duplicates.

In [ ]:
# Create another set t = {3, 4, 5}. Print the union, intersection, and difference (s - t).

In [ ]:
# Given a set letters = {"a", "b", "c"}, check if "d" is in the set, and print a message accordingly.

In [ ]:
# Mixed Data Structures + Conditionals
# Given a dictionary inventory = {"apples": 5, "bananas": 2, "oranges": 0}, write code to print “We are out of oranges” if the count is 0, and otherwise print how many there are.

In [ ]:
# Create a list of dictionaries, e.g., people = [{"name":"Alice","age":30}, {"name":"Bob","age":17}]. Loop through it and print for each person whether they are adult or minor.

In [ ]:
# Given a tuple of numbers nums = (5, 10, 15, 20), write a loop that checks: if the number is divisible by 10, print “Divisible by 10”, else “Not divisible by 10”.

In [ ]:
# Ask user to input three numbers and store them in a list. Then, convert the list to a set and check if any duplicates were removed; tell the user if there were duplicates.

In [ ]:
# Create a dictionary grades = {"Alice": 85, "Bob": 72, "Charlie": 90}. Loop through it and print: “Alice passed” or “Alice failed” assuming passing is ≥ 80.

In [ ]:
# Given two lists a = [1,2,3,4] and b = [3,4,5,6], use sets to find and print the common elements.

In [ ]:
# Given a list of numbers, ask the user to input the numbers, then compute: number of positive, negative, and zero values using conditionals.

In [ ]:
# Write a small program that asks the user to input their name, age, and a list of 3 favorite fruits (comma-separated).
# Store their data in a dictionary like {"name": ..., "age": ..., "fruits": [...]} and then print a summary: “Name: …, Age: …, Fruits: …”.